@model AlphaZero.Models.user

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Login/loginLayout.cshtml";
}


<div class="col-md-6 col-lg-7">
    <img src="~/Content/assets/vendors/images/forgot-password.png" alt="">
</div>
<div class="col-md-6 col-lg-5">
    <div class="login-box bg-white box-shadow border-radius-10">


        <div class="login-title">

            <div style="display: flex; justify-content: center;">
                <img src="~/Content/assets/vendors/images/Akmal-logo.png" alt="" style="width: 135px; height: 180px;">
            </div>


            <h2 class="text-center text-orange-50">Forgot Password</h2>

        </div>



        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="input-group custom">
                @Html.EditorFor(model => model.user_email, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Email", type = "email" } })
                <div class="input-group-append custom">
                    <span class="input-group-text"><i class="icon-copy dw dw-email"></i></span>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.user_email, "", new { @class = "text-danger" })

            <div class="row pb-30">
                <div class="col-9">
                    <div class="small text-warning">
                        An Email to reset your password will be sent to your email address.
                    </div>
                </div>
                <div class="col-3">
                    <div class="forgot-password"><a href="@Url.Action("Index", "Login")">Login</a></div>
                </div>

            </div>
            <div class="row pb-30">
                <div class="col-12">
                    <div class="small text-success">
                        @ViewBag.Message
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group mb-0">
                        <!--
                            use code for form submit
                            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Sign In">
                        -->


                        <input type="submit" value="Send Email" class="btn btn-primary btn-lg btn-block" style="background-color: orange; border-color: orange; color: white;" />



                    </div>

                    <div class="input-group mb-0">

                    </div>
                </div>
            </div>
        }

    </div>
</div>