@model AlphaZero.Models.ResetPasswordModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Login/loginLayout.cshtml";
}

<div class="col-md-6 col-lg-7">
    <img src="~/Content/assets/vendors/images/forgot-password.png" alt="">
</div>
<div class="col-md-6 col-lg-5">
    <div class="login-box bg-white box-shadow border-radius-10">


        <div class="login-title">

            <div style="display: flex; justify-content: center;">
                <img src="~/Content/assets/vendors/images/Akmal-logo.png" alt="" style="width: 135px; height: 180px;">
            </div>


            <h2 class="text-center text-orange-50">Reset your Password</h2>

        </div>

        @{
            if (TempData["success"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <i class="bi bi-check-circle me-1"></i>
                    <strong>Success!</strong> @TempData["success"]
                    <a href="@Url.Action("Index","Login")">Login Now.</a>
                </div>
            }
            if (TempData["fail"] != null)
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <i class="bi bi-exclamation-triangle me-1"></i>
                    <strong>Warning!</strong> @TempData["fail"]
                </div>
            }
        }


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="input-group custom">
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "New Password" } })
                <div class="input-group-append custom">
                    <span class="input-group-text"><i class="icon-copy dw dw-padlock1"></i></span>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })

            <div class="input-group custom">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Confirm Password", type = "password" } })
                <div class="input-group-append custom">
                    <span class="input-group-text"><i class="dw dw-padlock1"></i></span>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })

            <div class="input-group custom">
                @Html.HiddenFor(u => u.ResetCode)
            </div>

            <div class="row pb-30">
                <div class="col-6">
                </div>
                <div class="col-6">
                    <div class="forgot-password"><a href="@Url.Action("Index", "Login")">Login</a></div>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="input-group mb-0">
                        <!--
                            use code for form submit
                            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Sign In">
                        -->


                        <input type="submit" value="Reset Password" class="btn btn-primary btn-lg btn-block" style="background-color: orange; border-color: orange; color: white;" />



                    </div>

                    <div class="input-group mb-0">

                    </div>
                </div>
            </div>
        }

    </div>
</div>