@model IEnumerable<AlphaZero.Models.reminds>

@{
    ViewBag.Title = "Notifications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.reminder_status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reminder_desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reminder_title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.reminder_date)
            </th>
            <th>
                Landlord / Tenant
            </th>
            <th></th>
        </tr>

        @@foreach (var item in Model)
        {
            if (item.landlord != null || item.tenant != null)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.reminder_status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.reminder_desc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.reminder_title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FormattedDate)
                    </td>
                    <td>
                        @if (item.landlord != null)
                        {
                            <span>@item.landlord.landlord_name</span>
                        }
                        else if (item.tenant != null)
                        {
                            <span>@item.tenant.tenant_name</span>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.reminder_id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.reminder_id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.reminder_id })
                    </td>
                </tr>
            }
        }


    </table>
*@


<div class="page-header">
    <div class="row">

        <div class="col-md-6 col-sm-12">
            <div class="title">
                <h4>Reminders - View</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Reminders</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-6 col-sm-12 text-right">
            <div class="dropdown">
                <a class="btn btn-primary" href="@Url.Action("Create", "Notification")" role="button">
                    Create Customized Reminder
                </a>
            </div>
        </div>
    </div>
</div>


<div class="card-box mb-30">
    <div class="pd-20">
        <h4 class="text-blue h4">System Reminders</h4>
        <p>For anything <code>.tenant</code></p>
    </div>
    <div class="pb-20">
        <table class="data-table table stripe hover nowrap">
            <thead>
                <tr>
                    <th class="table-plus datatable-nosort">Tenant</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th class="datatable-nosort">Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    if (item.landlord == null && item.tenant != null)
                    {
                        <tr>
                            <td class="table-plus">
                                <span>@item.tenant.tenant_name</span>
                            </td>

                            <td>@Html.DisplayFor(modelItem => item.reminder_title)</td>
                            <td>@Html.DisplayFor(modelItem => item.reminder_desc)</td>
                            <td>@Html.DisplayFor(modelItem => item.FormattedDate)</td>
                            <td>
                                <div class="dropdown">
                                    <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                        <i class="dw dw-more"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                        <a class="dropdown-item" href="@Url.Action("Details", "Notification", new { id = item.reminder_id })">
                                            <i class="dw dw-eye"></i> View
                                        </a>

                                        @if (item.tenant != null)
                                        {
                                            <a class="dropdown-item" href="@Url.Action("SendWhatsAppMessage", "WhatsApp", new { id = item.reminder_id })">
                                                <i class="fa fa-whatsapp"></i> WhatsApp Message
                                            </a>
                                        }

                                        <a class="dropdown-item" href="@Url.Action("Edit", "Notification", new { id = item.reminder_id })">
                                            <i class="dw dw-edit2"></i> Edit
                                        </a>

                                        <a class="dropdown-item" href="@Url.Action("Delete", "Notification", new { id = item.reminder_id })">
                                            <i class="dw dw-delete-3"></i> Delete
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="pd-20">
        <p>For anything <code>.landlord</code></p>
    </div>
    <div class="pb-20">
        <table class="data-table table stripe hover nowrap">
            <thead>
                <tr>
                    <th class="table-plus datatable-nosort">Landlord</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th class="datatable-nosort">Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item2 in Model)
                {
                    if (item2.landlord != null && item2.tenant == null)
                    {
                        <tr>
                            <td class="table-plus">
                                <span>@item2.landlord.landlord_name</span>
                            </td>

                            <td>@Html.DisplayFor(modelItem => item2.reminder_title)</td>
                            <td>@Html.DisplayFor(modelItem => item2.reminder_desc)</td>
                            <td>@Html.DisplayFor(modelItem => item2.FormattedDate)</td>
                            <td>
                                <div class="dropdown">
                                    <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                        <i class="dw dw-more"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                        <a class="dropdown-item" href="@Url.Action("Details", "Notification", new { id = item2.reminder_id })">
                                            <i class="dw dw-eye"></i> View
                                        </a>
                                        <a class="dropdown-item" href="@Url.Action("Edit", "Notification", new { id = item2.reminder_id })">
                                            <i class="dw dw-edit2"></i> Edit
                                        </a>

                                        <a class="dropdown-item" href="@Url.Action("Delete", "Notification", new { id = item2.reminder_id })">
                                            <i class="dw dw-delete-3"></i> Delete
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>



<div class="card-box mb-30">
    <div class="pd-20">
        <h4 class="text-blue h4">Customized Reminders</h4>
    </div>
    <div class="pb-20">
        <table class="data-table table stripe hover nowrap">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th class="datatable-nosort">Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    if (item.landlord == null && item.tenant == null)
                    {
                        <tr>

                            <td class="table-plus">@Html.DisplayFor(modelItem => item.reminder_title)</td>
                            <td>@Html.DisplayFor(modelItem => item.reminder_desc)</td>
                            <td>@Html.DisplayFor(modelItem => item.FormattedDate)</td>
                            <td>
                                <div class="dropdown">
                                    <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                        <i class="dw dw-more"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                        <a class="dropdown-item" href="@Url.Action("Details", "Notification", new { id = item.reminder_id })">
                                            <i class="dw dw-eye"></i> View
                                        </a>
                                        <a class="dropdown-item" href="@Url.Action("Edit", "Notification", new { id = item.reminder_id })">
                                            <i class="dw dw-edit2"></i> Edit
                                        </a>
                                        <a class="dropdown-item" href="@Url.Action("Delete", "Notification", new { id = item.reminder_id })">
                                            <i class="dw dw-delete-3"></i> Delete
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>




