@model AlphaZero.Models.user

@{
    ViewBag.Title = "Delete Investor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}






<div class="page-header">
    <div class="row">

        <div class="col-md-6 col-sm-12">
            <div class="title">
                <h4>Investor - Delete</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Investor")">Investor List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Delete Investor
                    </li>
                </ol>
            </nav>
        </div>

        <div class="col-md-6 col-sm-12 text-right">
            <div class="dropdown">
                <a class="btn btn-primary" href="@Url.Action("Create", "Investor")" role="button">
                    Create Investor
                </a>
            </div>
        </div>
    </div>
</div>


<!-- basic table  Start -->
<div class="pd-20 card-box mb-30">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="clearfix mb-20">
            <div class="pull-left">
                <h4 class="text-blue h4">Investor Credentials</h4>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Variable</th>
                    <th scope="col">Content</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <th scope="row">Username : Investor</th>
                    <td>
                        @Html.EditorFor(model => model.user_name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.user_name, "", new { @class = "text-danger" })
                        <small>They will be using this to login into the system</small>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Email : Investor</th>
                    <td>
                        @Html.EditorFor(model => model.user_email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.user_email, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <th scope="row">Below is <code>.For Admin Use</code></th>
                    <td></td>
                </tr>

                <tr>
                    <th scope="row">Investor Name</th>
                    <td>
                        @Html.EditorFor(model => model.Investors.First().investor_name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Investors.First().investor_name, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <th scope="row">Investor Lot Number</th>
                    <td>
                        @Html.EditorFor(model => model.Investors.First().investor_lotNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Investors.First().investor_lotNo, "", new { @class = "text-danger" })
                    </td>
                </tr>
                <tr>
                    <th scope="row">Investor Hold Value</th>
                    <td>
                        @Html.EditorFor(model => model.Investors.First().investor_holdvalue, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Investors.First().investor_holdvalue, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="card card-box text-center">
            <div class="card-body">
                <h5 class="card-title">Actions :</h5>
                <p class="card-text">Choose Carefully :P</p>
                <input type="submit" value="Delete" class="btn btn-danger" />
                @Html.ActionLink("Back to List", "Index", new { id = Model.user_id }, new { @class = "btn btn-secondary" })
            </div>
        </div>
    }
</div>