@model AlphaZero.Models.cleanerAtt

@{
    ViewBag.Title = "Details";
}

<h2>Details of Record</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            No.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cleanerAtt_id)
        </dd>

        <dt>
            Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cleaner_date)
        </dd>
        <dt>
            Floor Level
        </dt>

        <dd>
            @Html.DisplayFor(model => model.floor.floor_id)
        </dd>
        <dt>
            Salary
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cleaner_salary)
        </dd>

    </dl>
</div>

<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cleanerAtt_id }, new { @class = "btn btn-warning" }) |
    <button onclick="location.href='@Url.Action("Index")'" class="btn ">Back to List</button>
</p>