@model IEnumerable<AlphaZero.Models.cleanerAtt>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Record Cleaner Attendance</h2>
<p> @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" }) </p>
<br />

<table class="table">
    <tr>
        <th>
            No.
        </th>
        <th>
            @using (Html.BeginForm("Index", "cleanerAtts", FormMethod.Get))
            {
                <div class="form-inline">
                    <label class="mr-2">Floor Level:</label>
                    @Html.DropDownList("floorLevel", ViewBag.FloorLevels as SelectList, "All", new { @class = "form-control", onchange = "this.form.submit()" })
                </div>
            }
        </th>
        <th>
            Date of clean
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cleanerAtt_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.floor.floor_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cleaner_date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.cleanerAtt_id }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Details", "Details", new { id = item.cleanerAtt_id }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.cleanerAtt_id }, new { @class = "btn btn-danger" }) |
            </td>
        </tr>
    }

</table>
