@model AlphaZero.Models.landlord

@{
    ViewBag.Title = "Delete";
}


<h3>Are you sure you want to delete this Landlord?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Landlord Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.landlord_name)
        </dd>

        <dt>
            Phone Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.landlord_phoneNo)
        </dd>

        <dt>
            Fee
        </dt>

        <dd>
            @Html.DisplayFor(model => model.landlord_fee)
        </dd>

        <dt>
            Payment Due
        </dt>

        <dd>
            @Html.DisplayFor(model => model.landlord_due)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="@Url.Action("Index")" class="btn">Back to List</a>

        </div>
    }
</div>
