@model AlphaZero.Models.landlord

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>landlord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.landlord_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.landlord_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.landlord_phoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.landlord_phoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.landlord_fee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.landlord_fee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.landlord_due)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.landlord_due)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.landlord_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
