@model AlphaZero.Models.landlord

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>landlord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Landlord Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.landlord_name)
        </dd>

        <dt>
            Phone Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.landlord_phoneNo)
        </dd>

        <dt>
            Fee
        </dt>

        <dd>
            @Html.DisplayFor(model => model.landlord_fee)
        </dd>

        <dt>
            Payment Due
        </dt>

        <dd>
            @Html.DisplayFor(model => model.landlord_due)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.landlord_id }, new { @class = "btn btn-warning" }) |
    <button onclick="location.href='@Url.Action("Index")'" class="btn ">Back to List</button>
</p>
