@model IEnumerable<AlphaZero.Models.landlord>

@{
    ViewBag.Title = "Index";
}

<h2>Landlord List</h2>

<p>
    @Html.ActionLink("Add Landlord", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            Landlord Name
        </th>
        <th>
            Phone Number
        </th>
        <th>
            Fee
        </th>
        <th>
            Payment Due
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.landlord_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.landlord_phoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.landlord_fee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.landlord_due)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.landlord_id }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { id = item.landlord_id }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.landlord_id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
