@model roomRental.Models.floor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>floor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.floor_modemIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.floor_modemIP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.floor_cctvQr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.floor_cctvQr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.floor_layout)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.floor_layout)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.landlord.landlord_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.landlord.landlord_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.floor_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
