@model IEnumerable<roomRental.Models.floor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.floor_modemIP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.floor_cctvQr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.floor_layout)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.landlord.landlord_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.floor_modemIP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.floor_cctvQr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.floor_layout)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.landlord.landlord_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.floor_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.floor_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.floor_id })
        </td>
    </tr>
}

</table>
