@model roomRental.Models.tenant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tenant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tenant_ic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenant_ic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenant_uploadIC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenant_uploadIC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenant_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenant_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenant_contract)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenant_contract)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenant_phoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenant_phoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenant_emergencyNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenant_emergencyNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenant_noSiri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenant_noSiri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenant_inDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenant_inDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenant_outDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenant_outDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenant_outTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenant_outTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenant_outstanding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenant_outstanding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenant_paymentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenant_paymentStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room.room_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room.room_status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.tenant_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
