@model IEnumerable<roomRental.Models.tenant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tenant_ic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenant_uploadIC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenant_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenant_contract)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenant_phoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenant_emergencyNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenant_noSiri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenant_inDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenant_outDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenant_outTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenant_outstanding)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tenant_paymentStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.room.room_status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenant_ic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenant_uploadIC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenant_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenant_contract)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenant_phoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenant_emergencyNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenant_noSiri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenant_inDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenant_outDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenant_outTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenant_outstanding)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tenant_paymentStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.room.room_status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.tenant_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.tenant_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.tenant_id })
        </td>
    </tr>
}

</table>
