@model AlphaZero.Models.room

@{
    ViewBag.Title = "Details";
}

<style>
    .status-available {
        color: green;
    }

    .status-booked {
        color: red;
    }

    .status-maintenance {
        color: orange;
    }
</style>
<h2>Details</h2>

<div>
    <h4>room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.room_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.room_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.room_status)
        </dt>

        <dd>
            @{
                string statusClass = "";

                switch (Model.room_status)
                {
                    case "Available":
                        statusClass = "status-available";
                        break;
                    case "Booked":
                        statusClass = "status-booked";
                        break;
                    case "Maintenance":
                        statusClass = "status-maintenance";
                        break;
                    default:
                        break;
                }
            }

            <span class="@statusClass">
                @Html.DisplayFor(model => model.room_status)
            </span>


        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.floor.floor_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.floor.floor_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.room_id }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Back to List", "Index",null ,new { @class = "btn btn-secondary" })
</p>
