@model IEnumerable<AlphaZero.Models.user>

@{
    ViewBag.Title = "Manage User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.user_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_type)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if(item.user_type == "1")
                {
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.user_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.user_password)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.user_email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.user_type)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.user_id }, new { @class = "btn btn-warning", style = "margin-right: 5px;" })
                            @Html.ActionLink("Details", "Details", new { id = item.user_id }, new { @class = "btn btn-info", style = "margin-right: 5px;" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.user_id }, new { @class = "btn btn-danger", style = "margin-right: 5px;" })
                        </td>
                    </tr>
                }
        
    }

</table>
