@model IEnumerable<AlphaZero.Models.finance>

@{
    ViewBag.Title = "Manage Finance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Manage Finance</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })

</p>

<table class="table">
    <tr>

        <th>
            @Html.ActionLink("Flowtype", "Index", new { sortOrder = ViewBag.FlowtypeSortParam })
        </th>
        <th>
            @Html.ActionLink("Inflow", "Index", new { sortOrder = ViewBag.InflowSortParam })
        </th>
        <th>
            @Html.ActionLink("Outflow", "Index", new { sortOrder = ViewBag.OutflowSortParam })
        </th>
        <th>
            @Html.ActionLink("Notes", "Index", new { sortOrder = ViewBag.NotesSortParam })
        </th>
        <th>
            @Html.ActionLink("Payment Method", "Index", new { sortOrder = ViewBag.PaymentMethodSortParam })
        </th>
        <th>
            @Html.ActionLink("Payment", "Index", new { sortOrder = ViewBag.PaymentSortParam })
        </th>
        <th>
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParam })
        </th>
        <th>
            Receipt
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.finance_flowtype)
            </td>
            <td class="@(item.finance_flowtype == "Inflow" ? "text-success" : "")">
                @Html.DisplayFor(modelItem => item.finance_inflow)
            </td>
            <td class="@(item.finance_flowtype == "Outflow" ? "text-danger" : "")">
                @Html.DisplayFor(modelItem => item.finance_outflow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.finance_desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.finance_pMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.finance_type)
            </td>
            <td>
                @item.finance_date.ToString("dd-MM-yyyy")
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.finance_receipt))
                {
                    <a href="@Url.Content("~/Content/assets/vendors/images/Receipts/" + item.finance_receipt)" target="_blank">View Receipt</a>
                }
                else
                {
                    <span>No Receipt</span>
                }
            </td>


            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.finance_id }, new { @class = "btn btn-warning" }) |
                @Html.ActionLink("Details", "Details", new { id = item.finance_id }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.finance_id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>

<style>
    .text-success {
        color: green;
    }

    .text-danger {
        color: red;
    }
</style>