@model AlphaZero.Models.inventory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>inventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.inventory_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inventory_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inventory_count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inventory_count)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.floor.floor_cctvQr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.floor.floor_cctvQr)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Inventory_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
